@font-face {
  font-family: 'Metropolis-Regular';
  src: url('Metropolis-Regular.otf');
}

fx:frame{
	
	width : 100%;
	height : 100%;
}
.border-pane{
  -fx-background-radius: 10;
  -fx-background-insets: 1;
  -fx-alignment: center ;
  -fx-font-family: "Metropolis-Regular";

}
.button {
  -fx-background-radius: 7;
  -fx-background-insets: 1;
  -fx-border-width:6;
  -fx-alignment: center ;
  -fx-font-size: 20;
  -fx-font-family: "Metropolis-Regular";
}

.button:hover {
  -fx-background-radius: 7;
  -fx-border-color: #ffffff;
  -fx-border-width:6;
}

.menu-button{
  -fx-background-radius: 7;
  -fx-background-insets: 1;
  -fx-border-width:6;
  -fx-font-size: 20;
  -fx-alignment: center ;
  -fx-font-family: "Metropolis-Regular";

}

.menu-button:hover {
  -fx-background-radius: 7;
  -fx-border-color: #ffffff;
  -fx-border-width:6;

}.label{
  -fx-font-family: "Metropolis-Regular";
  -fx-font-size: 20;
  -fx-alignment: center ;

}

.combo-box{
  -fx-background-radius: 7;
  -fx-background-insets: 1;
  -fx-font-size: 20;
  -fx-font-family: "Metropolis-Regular";
}

.text-field {
  -fx-background-radius: 70;
  -fx-background-insets: 1;
  -fx-font-size: 15;
  -fx-font-family: "Metropolis";
}
